body {
  background-color: #E6FFFF;
}

#graph-app {
  background-color: #E6FFFF;
}

#main-title {
  text-align: center;
  font-family: monospace;
  color: #111111;
}

#sub-title {
  text-align: center;
  font-family: monospace;
  color: #111111;
}

#live-graph {
  height: 400;
  border: 3px solid black;
}
